$bold: 700;
$amazon-nav-blue: #131921;
$amazon-dark-blue: #0f1111;
$nav-text-color: #ffffff;
$amazon-sub-nav-blue: #232f3e;
$search-dropdown-color: #f3f3f3;
$search-dropdown-hover-color: #dfdfdf;
$search-dropdown-border-color: #cdcdcd;
$amazon-black: #111;
$search-btn-color: #febd69;
$search-btn-hover-color: #f3a847;
$session-form-border-color: #ddd;
$session-input-border-color: #949494;
$auth-submit-btn-color: #faebc8;
$auth-submit-btn-border-color: #846a29;
$alt-auth-btn-border-color: #8d9096;
$error-message-red: #c40000;
$splash-bg-color: #eaeded;
$product-card-border-color: #dddddd;
$product-secondary-grey: #565959;
$product-card-title-hover: #C7511F;
$product-show-checkout-border-color: #D5D9D9;
$product-show-price-color: #B12704;
$product-row-border-color: #cccccc;
$amazon-link-blue: #007185;
$in-stock-green: #007600;
$add-to-cart-btn-bg-color: #FFD814;
$add-to-cart-btn-border-color: #FCD200;
$verified-purchase-orange: #c45500;
$user-avatar-grey: #a9b7b8;
$review-form-input-border-color: #888C8C;
$review-form-submit-btn-bg-color: #FFD814;
$review-form-submit-btn-border-color: #FCD200;
$footer-back-to-top-bg-color: #37475A;
$footer-bottom-section-bg-color: #131A22;
